* {
    box-sizing: border-box;
}

body {
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    padding: 60px;

}

h6.duedate, h6.taskassign {
    font-size: 12px;
}

.task-information {
    display: flex;
	justify-content: center;
	width: 65%;
	margin: auto;
	flex-direction: column;
}

div .d-flex {
    display: flex;
}

.btn-success {
    background-color: #7EBE81 !important;
    border-color:#7EBE81 !important;
}

.btn-success:hover {
    background-color: #72BC75 !important;
}

.btn-outline-success {
    color: #7EBE81 !important;
    border-color:#7EBE81 !important;
}

.btn-outline-success:hover {
    background-color: #7EBE81 !important;
    color: #fff !important;
}

.btn-outline-danger {
    color: #FF5353 !important;
    border-color: #FF5353 !important;
}

.btn-outline-danger:hover {
    background-color: #FF5353 !important;
    color: #fff !important;
}

.container {
    width: 10%;
    border-radius: 25px;
  }
  
  .skills {
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
    color: white;
    border-radius: 5px;
  }
  
  .html {width: 100%; background-color: #7EBE81;}

  form.row.g-4 {
    padding: 0px;
  }